*{
    box-sizing: border-box;
}
html, body{
    margin: 0px;
    background-color: black;
}
html{
    height: 100%;
}
body{
    overflow: hidden;
    height: inherit;
}
.countdown{
    position: absolute;
    width: 15vw;
    height: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 50px;
    border-radius: 50%;
    margin: auto;
    top:0px;
    bottom: 0px;
    left: 0px;
    right: 0px; 
    transition: opacity 0.8s ease-out;
    background-color: rgba(255,255,255,0.2);
}
p{
    user-select: none;
    position: absolute;
    color: white;
    right: 50px;
    font-size: large;
    letter-spacing: 4px;
}
h1{
    user-select: none;
    font-size: 3rem;
    letter-spacing: -1px;
    position: absolute;
    margin: auto;
    top : 0px;
    right: 0px;
    left: 0px;
    bottom:0px;
    text-align: center;
    height: fit-content;
    color: transparent;
    text-shadow: 0 0 4px rgba(255,255,255,0.2);
}
.container{
    max-width: 250px;
    max-height: 250px;
    width: 75vw;
    z-index: +100;
    position: absolute;
    margin:auto;
    left:0px;
    right: 0px;
    top:0px;
    bottom: 0px;
    height: 50vw;
    border-radius: 20px;
    background-color: black;
    border: 1px solid white;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.message{
    font-size: 1.7rem;
    text-align: center;
    color: white;
}
button{
    width: fit-content;
    position: relative;
    border-radius: 5px;
    font-size: 1rem;
    padding: 5px;
    letter-spacing: 1px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    cursor: pointer;
}